:root {
    --background-color: #4a154b;
    --color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    color: var(--color);
}

/* New Workspace */

.new-workspace {
    height: 200px;
    text-align: center;
}

.different-team {

}

.different-email {
    
}