main {
    font-family: Arial, Helvetica, sans-serif;
}

.welcome-back {
    width: 90vw;
}

.welcome-title {
    display: flex;
}

.workspace-card {
    display: flex;
    flex-direction: column;
}

.card-title {
    background-color: #ecdeec;
    padding: 1rem;
}